@import 'overrides';

body, .select select, .button, .input, .taginput .taginput-container.is-focusable, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    font-size: 0.9rem;
}

.navbar, .footer, #app {
    background-color: $background;
}

.navbar {
    border-bottom: 1px solid $primary;
}

.main {
    padding: 50px 0 50px 0;
}

.footer {
    padding-bottom:1.5rem;
    border-top: 1px solid $primary;
}

.page-enter-active, .page-leave-active {
    transition: opacity .1s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}

.modal-background {
    background: transparent;
}

.vue-form-wizard {
    background: #fff;
    border: 1px solid $primary;
}

.slide-fade-enter-active {
    transition: all .025s ease;
}
.slide-fade-leave-active {
    transition: all .025s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to { 
    background-color: rgba(0,133,61,0.1);
    opacity: 0.5;
}

th,
.table,
.b-table .table tr.detail,
.card,
.card-header-title {
    color: #fefefe !important;
    background: #3c3c3c;
}

.card,
.card-header-title {
    background: #1f1f1f;
}

.navbar-item,
.navbar-link,
.navbar-item:hover,
.navbar-link:hover {
    color: #fefefe !important;
}

.table td, .table th {
    border: 1px solid #4e6e7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-width: 0 0 1px;
    padding: 0.25em 0.75em;
    vertical-align: middle;
}

a {
    color: #f5f1f2;
}